doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    
    body

    div.navbar
        ul
            li 
                a(href="/") Home
            li
                a(href="/new") New post

    block content
