<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My First</title>
  </head>
  <body>
    <h1>My First JavaScript App</h1>
    <div class="data">
      <p>How much was the bill?</p>
      <input id="bill" type="text" name="billAmount" placeholder="bill">
      <p>How many people?</p>
      <input id="people" type="text" name="people" placeholder="people"><br>
      <button id="submit" type="submit">Submit</button>
    </div>
    <script src="/myfirst.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </body>
</html>