doctype html
head
    title Karan Goel

    link(rel="stylesheet", href="style.css", type="text/css")
body
    h1 Karan Goel
    p Hi! I'm Karan Goel, a student at the University of Washington. Say hello!
    input(type="email", placeholder="Your email")
    input(type="submit")
